<h1><em>Photogur</em></h1>
<p>(click an image to inspect)</p>


<%@pictures.each do |picture|%>
  <p><%= picture.title%>, <%=picture.artist%> </p>
  <%= link_to image_tag(picture.url), picture %>
  <%end%>


